.list{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 20px 15px;
    gap: 15px;

    font-family: sans-serif;
    list-style: none;
}
.reviewItem{
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 8px;
    text-align: left;
}
.authorName{
    margin-top: 5px;
    margin-bottom: 10px;
}
.reviewContent{
    margin: 0;
}
.noInfo{
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    color: #666;
}
.loader{
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
}